<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="flex items-center justify-center min-h-screen">
  <div class="bg-white shadow-lg rounded-2xl w-96 p-8">
    <h1 class="text-2xl font-bold text-center text-gray-800">Register</h1>
    <form class="space-y-4 mt-6" [formGroup]="form" (ngSubmit)="onSubmit()">
      
      <!-- First Name -->
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <i class="fas fa-user text-gray-500"></i>
        </span>
        <input 
          type="text" 
          placeholder="First Name" 
          class="input input-bordered w-full pl-10" 
          formControlName="acc_firstName" 
          [ngClass]="{ 'input-error': submitted && f.acc_firstName.errors }">
      </div>
      <div *ngIf="submitted && f.acc_firstName.errors" class="text-red-500 text-sm">
        <div *ngIf="f.acc_firstName.errors.required">First Name is required</div>
      </div>

      <!-- Last Name -->
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <i class="fas fa-user text-gray-500"></i>
        </span>
        <input 
          type="text" 
          placeholder="Last Name" 
          class="input input-bordered w-full pl-10" 
          formControlName="acc_lastName" 
          [ngClass]="{ 'input-error': submitted && f.acc_lastName.errors }">
      </div>
      <div *ngIf="submitted && f.acc_lastName.errors" class="text-red-500 text-sm">
        <div *ngIf="f.acc_lastName.errors.required">Last Name is required</div>
      </div>

      <!-- Email -->
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <i class="fas fa-user text-gray-500"></i>
        </span>
        <input 
          type="email" 
          placeholder="Email" 
          class="input input-bordered w-full pl-10" 
          formControlName="acc_email" 
          [ngClass]="{ 'input-error': submitted && f.acc_email.errors }">
      </div>
      <div *ngIf="submitted && f.acc_email.errors" class="text-red-500 text-sm">
        <div *ngIf="f.acc_email.errors.required">Email is required</div>
        <div *ngIf="f.acc_email.errors.email">Email is invalid</div>
      </div>

      <!-- Password -->
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <i class="fas fa-user text-gray-500"></i>
        </span>
        <input 
          type="password" 
          placeholder="Password" 
          class="input input-bordered w-full pl-10" 
          formControlName="acc_passwordHash" 
          [ngClass]="{ 'input-error': submitted && f.acc_passwordHash.errors }">
      </div>
      <div *ngIf="submitted && f.acc_passwordHash.errors" class="text-red-500 text-sm">
        <div *ngIf="f.acc_passwordHash.errors.required">Password is required</div>
        <div *ngIf="f.acc_passwordHash.errors.minlength">Password must be at least 6 characters</div>
      </div>

      <!-- Confirm Password -->

      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <i class="fas fa-user text-gray-500"></i>
        </span>
        <input 
          type="password" 
          placeholder="Confirm Password" 
          class="input input-bordered w-full pl-10" 
          formControlName="confirmPassword" 
          [ngClass]="{ 'input-error': submitted && f.confirmPassword.errors }">
      </div>
      <div *ngIf="submitted && f.confirmPassword.errors" class="text-red-500 text-sm">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>

      <!-- Address -->
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <i class="fas fa-user text-gray-500"></i>
        </span>
        <input 
          type="text" 
          placeholder="Address" 
          class="input input-bordered w-full pl-10" 
          formControlName="acc_address" 
          [ngClass]="{ 'input-error': submitted && f.acc_address.errors }">
      </div>
      <div *ngIf="submitted && f.acc_address.errors " class="text-red-500 text-sm">
        <div *ngIf="f.acc_address.errors .required">Address is required</div>
      </div>

      <!-- Accept Terms -->
      <label class="flex items-center gap-2">
        <input type="checkbox" formControlName="acc_acceptTerms" 
        class="checkbox checkbox-md" [ngClass]="{ 'input-error': submitted && f.acc_acceptTerms.errors }">
        <span class="text-gray-600">Accept Terms and Conditions</span>
      </label>
      <div *ngIf="submitted && f.acc_acceptTerms.errors" class="text-red-500 text-sm">
        <div *ngIf="f.acc_acceptTerms.errors.required">You must accept the terms</div>
      </div>

      <!-- Submit Button -->
      <button class="btn btn-dark w-full" [disabled]="loading">
        <span>Register Now</span>
        <i class="fas fa-chevron-right ml-2"></i>
        <span *ngIf="loading" class="loading loading-spinner ml-2"></span>
      </button>

      <!-- Sign In Link -->
      <div class="text-center mt-4">
        <a routerLink="../login" class="text-red-500 hover:text-red-600">Already have an account? Sign In</a>
      </div>
    </form>
  </div>
</div>
