<br>
<br>
<div class="card mb-4 shadow-sm border-0 rounded">
    <div class="card-header bg-primary text-white">
        <h2 class="mt-4">Edit Account</h2>
    </div>
    <div class="card-body" style="background-color: #f8f9fa; border-radius: 8px;">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="acc_firstName">First Name</label>
                    <input id="acc_firstName" type="text" formControlName="acc_firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_firstName.errors }" />
                    <div *ngIf="submitted && f.acc_firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="acc_lastName">Last Name</label>
                    <input id="acc_lastName" type="text" formControlName="acc_lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_lastName.errors }" />
                    <div *ngIf="submitted && f.acc_lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label for="acc_email">Email</label>
                    <input id="acc_email" type="text" formControlName="acc_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_email.errors }" />
                    <div *ngIf="submitted && f.acc_email.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_email.errors.required">Email is required</div>
                        <div *ngIf="f.acc_email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="acc_role">Role</label>
                    <select id="acc_role" formControlName="acc_role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_role.errors }">
                        <option value="">Select role</option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <div *ngIf="submitted && f.acc_role.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_role.errors.required">Role is required</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="acc_status">Account Status</label>
                    <select id="acc_status" formControlName="acc_status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acc_status.errors }">
                        <option value="">Select status</option>
                        <option value="Active">Activate</option>
                        <option value="Inactive">Deactivate</option>
                        <option value="Suspended">Suspended</option>
                    </select>
                    <div *ngIf="submitted && f.acc_status.errors" class="invalid-feedback">
                        <div *ngIf="f.acc_status.errors.required">Account Status is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="row justify-content-end">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-secondary" (click)="goBack()">Close</button>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <button [disabled]="loading" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
