<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Account Users</h1>
                <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                    For more information about DataTables, please visit the <a target="_blank"
                        href="https://datatables.net">official DataTables documentation</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive overflow-x-auto">
                            <table class="table" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="text-gray-600">Name</th>
                                        <th class="text-gray-600">Email</th>
                                        <th class="text-gray-600">Role</th>
                                        <th class="text-gray-600">Account Status</th>
                                        <th class="text-gray-600">Subscription Status</th>
                                        <th class="text-gray-600">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let account of filteredAccounts">
                                        <td>{{ account.acc_firstName }} {{ account.acc_lastName }}</td>
                                        <td>{{ account.acc_email }}</td>
                                        <td>{{ account.acc_role }}</td>
                                        <td>{{ account.acc_status }}</td>
                                        <td>{{ account.acc_subscription }}</td>
                                        <td>
                                            <!-- Edit button to open the modal for editing the account -->
                                            <a routerLink="edit/{{account.id}}" class="btn btn-sm btn-primary">Edit</a> &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>